.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 321px;
  min-height: 99px;
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );
  padding-top: 22px;
  box-sizing: border-box;
}

.header__link {
  text-decoration: none;
  color: #fff;
  display: block;
}
.header__link--vel {
  margin-bottom: 2px;
}
.header__link--mtc {
  margin-bottom: 8px;
}
.header__link--town {
  font-size: 17px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.header__image {
  display: none;
}

.header__link--social {
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 768px) {
  .header {
    min-width: 768px;
    min-height: 79px;
    padding-top: 30px;
    display: flex;
    align-items: end;
    padding-right: 20px;
  }
  .header__link--vel,
  .header__link--mtc {
    display: none;
  }
  .header__link--town {
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    margin-right: 230px;
  }
  .header__item {
    display: inline-block;
  }
  .header__link--town::before {
    content: url(../images/header/town.svg);
    margin-right: 9px;
  }
  .header__link--social {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    width: 170px;
    padding-left: 35px;
    box-sizing: border-box;
  }
  .header__link--social::before {
    content: url(../images/header/social.svg);
    position: absolute;
    top: 4px;
    left: -2px;
  }
}
@media (min-width: 1440px) {
  .header {
    min-width: 1440px;
    min-height: 77px;
    padding-top: 36px;
    padding-right: 0;
    align-items: normal;
    padding-top: 23px;
    padding-left: 128px;
  }
  .header__link--vel,
  .header__link--mtc {
    font-size: 15px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    width: 173px;
    min-height: 15px;
    display: block;
    margin-bottom: 0px;
    margin-right: 176px;
  }
  .header__link--vel {
    width: 208px;
    position: relative;
    padding-left: 35px;
    box-sizing: border-box;
    margin-right: 12px;
  }
  .header__link--vel::before {
    content: url(../images/header/call.svg);
    position: absolute;
    top: -5px;
    left: -1px;
  }

  .header__link--town {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 367px;
  }
  .header__link--social {
    width: 163px;
    min-height: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}
