.intro {
  background-image: url(../images/intro/background.svg);
  min-height: 333px;
  min-width: 321px;
  position: relative;
  padding-left: 40px;
  padding-top: 26px;
}
.intro__list {
  display: flexbox;
}
.intro__item {
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: left;
}
.intro__logo {
  margin-right: 9px;
  margin-bottom: 38px;
}
.intro__logo-text {
  text-align: start;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 21px;
}
.intro__header {
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.intro__description {
  font-size: 25px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 8px;
}
.intro__town {
  display: none;
}
.intro__about {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding-left: 65px;
  margin-bottom: 18px;
}
.intro__item {
  display: flex;
}
.intro__item-button {
  padding-left: 80px;
}
.intro__button {
  width: 93px;
  height: 28px;
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  border-radius: 7px;
  margin-bottom: 53px;
}
.intro__button-text {
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
.intro__outro {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding-left: 15px;
}
.intro__outro-eva {
  padding: 0;
  color: #b90160;
}
@media (min-width: 768px) {
  .intro {
    justify-content: left;
    padding-top: 62px;
    padding-left: 66px;
    padding-right: 450px;
    min-width: 768px;
    min-height: 566px;
    background: url(../images/intro/background768px.svg);
  }
  .intro__logo {
    width: 100px;
    height: 60px;
    margin-bottom: 61px;
  }
  .intro__logo-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 9px;
  }
  .intro__description {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
  .intro__about {
    display: none;
  }
  .intro__town {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
  }
  .intro__button {
    height: 42px;
    width: 141px;
    border-radius: 7px;
  }
  .intro__button-text {
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  .intro__item-button {
    padding: 0px;
  }
  .intro__outro {
    display: none;
  }
}
