.intro {
  background: url(../images/intro/background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 321px;
  min-height: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  box-sizing: border-box;
}
.intro__logo-icon {
  margin-bottom: 38px;
}
.intro__navigation {
  display: none;
}
.intro__info {
  font-size: 25px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  width: 194px;
  margin-bottom: 8px;
}
.intro__about {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 9px;
}
.intro__button {
  padding: 0;
  width: 93px;
  height: 28px;
  border-radius: 7px;
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  margin-bottom: 53px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  line-height: 12px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  border: 0;
}

.intro__outro {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.intro__outro-eva {
  text-transform: uppercase;
  color: #b90160;
}
@media (min-width: 768px) {
  .intro {
    background: url(../images/intro/background768px.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    min-height: 615px;
    min-width: 768px;
    align-items: start;
    padding-top: 61px;
    padding-left: 66px;
  }
  .intro__logo-icon {
    margin-bottom: 61px;
  }
  .intro__navigation {
    display: none;
  }
  .intro__info {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    width: 414px;
    margin-bottom: 10px;
  }
  .intro__about {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  .intro__button {
    width: 141px;
    height: 42px;
    margin-bottom: 206px;
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  .intro__button-text {
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  .intro__outro {
    padding-left: 60px;
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .intro {
    min-width: 1440px;
    min-height: 825px;
    background: url(../images/intro/background1440.svg);
    background-repeat: no-repeat;
    padding-top: 47px;
    padding-left: 121px;
    position: relative;
  }
  .intro__logo-icon{
    margin-bottom: 190px;
  }
  .intro__navigation {
    display: block;
    justify-content: end;
    position: absolute;
    left: 920px;
  }
  .intro__navigation-list {
    display: block;
  }
  .intro__navigation-item {
    display: inline-block;
    width: 80px;
    margin-right: 25px;
  }
  .intro__navigation-link {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #737373;
    text-decoration: none;
  }
  .intro__info {
    width: 670px;
    font-size: 50px;
    font-weight: 900;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  .intro__about {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  .intro__button {
    width: 179px;
    height: 53px;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 219px;
  }
  .intro__outro {
    padding-left: 418px;
  }
}
