.main {
  min-width: 321px;
  min-height: 1372px;
  padding-top: 42px;
  padding-left: 29px;
  padding-right: 27px;
  background-color: #f9ecf2;
}
.main__card {
  background: #ffffff;
  border-radius: 0%;
  margin-bottom: 30px;
}
.main__image {
  margin-bottom: 16px;
  border-radius: 10px 10px 0 0;
}
.main__intro {
  display: none;
}
.main__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
  padding-left: 5px;
}
.main__description {
  padding-right: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(118, 118, 118, 1);
  padding-left: 5px;
  border-radius: 0 0 10px 10px;
}
@media (min-width: 768px) {
  .main {
    background-color: #ffff;
    background: url(../images/main/background768px.svg);
    padding-left: 87px;
    padding-right: 87px;
  }
  .main__intro {
    display: inline-block;
    padding-left: 70px;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 48px;
  }
  .main__intro-eva {
    padding: 0;
    color: #b90160;
  }
  .main__image {
    width: 594px;
    height: 160px;
  }
  .main__card {
    min-height: 325px;
    min-width: 594px;
    margin-bottom: 61px;
  }
  .main__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }
  .main__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
}
