.product {
  min-height: 1330px;
  min-width: 321px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 42px;
  box-sizing: border-box;
}
.product__card {
  display: flex;
  flex-direction: column;
  width: 264px;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 0px rgba(184, 0, 95, 0.2);
  margin-bottom: 30px;
  min-height: 374px;
}
.product__image {
  border-radius: 9px 9px 0 0;
  margin-bottom: 15px;
}
.product__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 17px;
}
.product__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(118, 118, 118, 1);
  padding-left: 17px;
  padding-right: 25px;
  box-sizing: border-box;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .product {
    min-width: 768px;
    min-height: 1250px;
    padding-top: 48px;
  }
  .product__card {
    width: 594px;
    min-height: 325px;
    margin-bottom: 61px;
  }
  .product__image {
    width: 594px;
    height: 160px;
    margin-bottom: 17px;
  }
  .product__header {
    font-size: 36px;
    line-height: 42px;
    padding-left: 38px;
  }
  .product__description {
    padding-left: 38px;
    margin-bottom: 0;
  }
}
