.header {
  display: flex;
  justify-content: center;
  min-width: 321px;
  min-height: 99px;
  padding-top: 22px;
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.header__link-town {
  font-size: 17px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 50px;
}

.header__image {
  display: none;
}

.header__link-social {
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

