.main {
  min-width: 321px;
  min-height: 1372px;
  padding-top: 42px;
  padding-left: 29px;
  padding-right: 27px;
  background-color: #f9ecf2;
}
.main__card {
  background: #ffffff;
  border-radius: 0%;
  margin-bottom: 30px;
}
.main__image {
  margin-bottom: 16px;
  border-radius: 10px 10px 0 0;
}
.main__header {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
  padding-left: 5px;
}
.main__description {
  padding-right: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(118, 118, 118, 1);
  padding-left: 5px;
  border-radius: 0 0 10px 10px;
}
